@CHARSET "UTF-8";
.ui-panel .ui-panel-content
{
	margin:0 auto;
	padding: 5px;
}

.ui-panelgrid td, .ui-panelgrid tr
{
    border-style: none !important
}
.ui-selectcheckboxmenu {
     width: 60% !important;
}

